    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    body {
        min-width: 100vh;
        background: aliceblue;

    }

    .barra {
        position: absolute;
        width: 60px;
        height: 100vh;
        background: aliceblue;
        overflow: hidden;
        transition: 0.5s;
    }

    .barra:hover {
        color: aqua;
        background-color: darkcyan;
        width: 250px;
    }

    .barra ul {
        position:relative;
        height: 100vh;
    }

    .barra ul li {
        list-style: none;

    }

    .barra ul li:hover {
        background: burlywood;

    }

    .barra ul li a {
        position: relative;
        display: flex;
        white-space: nowrap;
        text-decoration: none;

    }

    .barra ul li a .icono {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 60px;
        height: 60px;
        font-size: 1.5em;
        color: black;
    }

    .barra ul li a .texto{
        position: relative;
        height: 60px;
        display: flex;
        align-items: center;
        font-size: 1em;
        color: black;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }









